* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0px;
}

.header {
    background: #68ad16;
    margin 0px;
    padding 10px;
}

.ignorethis {
    text-decoration: none;
    color: inherit;
}
.footer{
    background: #68ad16;
    margin 0px;
    padding 7px;
}
